<h2 class="main-titulo">Productos</h2>

<main class="main">

<section class="main-productos">
{{#each products}}
<div class="producto">
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>{{this.code}}</p>
    <p>{{this.price}}</p>
    <p>{{this.status}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
    <p>{{this.thumbnail}}</p>
    <button>Sumar al carrito</button>
    <a href="/product/{{this._id}}">Detalles</a>
</div>
{{/each}}
</section>


<div class="anterior_siguiente">
    {{#if hasPrevPage}}
<a class="anterior-siguiente" href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

{{#if hasNextPage}}
<a class="anterior-siguiente" href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}
</div>


<p>Pagina {{currentPage}} de {{totalPages}}</p>

</main>