<h2 class="main-titulo">Producto por id</h2>

<main class="main">


{{products}}
<div>
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <p>{{this.code}}</p>
    <p>{{this.price}}</p>
    <p>{{this.status}}</p>
    <p>{{this.stock}}</p>
    <p>{{this.category}}</p>
    <p>{{this.thumbnail}}</p>
    <button>Eliminar</button>
    <button>Sumar al carrito</button>
</div>

</main>